body    {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
    background-color: #00bcd4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2337474f' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23263238'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");    
}

.container  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}

.form   {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 730px;
    border-radius: 40px;
    box-shadow: 2px 3px 13px 6px #00000073;
    background-color: white;
}

h2  {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

img {
    width: 100px;
}

label   {
    font-size: 1.5em;
    margin: 10px;
}

input   {
    font-size: 20px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding: 2px;
    border-color: #2b2b2b;
}

input:focus {
    outline: none;
}

button  {
    margin-top: 20px;
    width: 80%;
    height: 35px;
    border-color: #37474F;
    border-radius: 20px;
    font-size: 20px;
    background-color: #37474F;
    color: white;
    cursor: pointer;
}

button:hover    {
    background-color: #526068;
    border-color: #526068;
}

button:focus    {
    outline: none;
}

@media  (max-width: 320px)  {
    .form   {
        width: 290px;
    }

    input   {
        width: 240px;
    }
}